### 1. One cause for speeding is the desire to shorten the time spent traveling. In long distance trips, speeding does save an appreciable amount of time. However, the same cannot be said about short distance trips.

Create a function that calculates the amount of time saved were you traveling with an average speed that is above the speed-limit as compared to traveling with an average speed exactly at the speed-limit. 

formula d = r * t (where d = distance (in miles); r = rate (in mph); and t = time (in hrs). **(5 Marks)**

The parameter's format is as follows:
(speed limit, avg speed, distance traveled at avg speed)

Examples/Expected output - 

time_saved(80, 90, 40) ➞ 3.3

time_saved(80, 90, 4000) ➞ 333.3

time_saved(80, 100, 40 ) ➞ 6.0

time_saved(80, 100, 10) ➞ 1.5

In [21]:
## Write your code here
def time_saved(s,a,d):
    t1=(d/a)*60
    t2=(d/s)*60
    return(t2-t1)

In [22]:
time_saved(80,90,40)

3.3333333333333357

In [23]:
time_saved(80,90,4000)

333.3333333333335

### 2. A profitable gamble is a game that yields a positive net profit. The net profit is calculated using below formula -

### net_outcome = probability_of_winning * prize - cost_of_playing

Write a function that will tell user whether they should play the game or not given the cost of playing the game,probability of winning and the prize. For playing the game the net outcome should be positive. **(5 Marks)**

In [6]:
## Write your code here
def game():
    a=float(input('Enter the probability of winning : '))
    b=float(input('Enter the prize money : '))
    c=float(input('Enter the cost of playing : '))
    net_outcome=a*b-c
    if net_outcome>0:
        return('You can play the game')
    else:
        return('You cannot play the game')

In [7]:
game()

Enter the probability of winning : 0.21
Enter the prize money : 200
Enter the cost of playing : 200

'You cannot play the game'

### 3. Luke Skywalker has family and friends. Help him remind them who is who. Write a function which given a string with a name, return the relation of that person to Luke. ( 5 Marks)

|Person|Relation|
|------|--------|
|Darth Vader|	father|
|Leia	|sister|
|Han	|brother in law|
|R2D2|	droid|

Examples - 

relation_to_luke("Darth Vader") ➞ "Luke, I am your father."

relation_to_luke("Leia") ➞ "Luke, I am your sister."

relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [27]:
## Write your code here
def relation_to_luke(a):
    if  a== 'Darth Vader'or a=='darth vader':
        return('Luke , I am your father')
    elif a== 'Leia' or a== 'leia' :
        return('Luke , I am your sister')
    elif a== 'Han' or a=='han':
        return('Luke , I am your brother in law')
    elif a== 'R2D2' or a== 'r2d2':
        return('Luke , I am your droid')

In [28]:
relation_to_luke('Han')

'Luke , I am your brother in law'

In [29]:
relation_to_luke('leia')

'Luke , I am your sister'

### 4. Wild Roger is participating in a Western Showdown, meaning he has to draw (pull out and shoot) his gun faster than his opponent in a gun standoff.

Write a function which when given two strings,p1 and p2, return which person drew their gun the fastest. 
If both are drawn at the same time, return "tie". **(5 Marks)**

### Examples/Expected output - 

showdown(
  "   Bang!        ",
  "        Bang!   "
) --> "p1"

# p1 draws his gun sooner than p2

showdown(
  "               Bang! ",
  "             Bang!   "
) --> "p2"

showdown(
  "     Bang!   ",
  "     Bang!   "
) --> "tie"

In [38]:
## Write your code here
def showdown(a,b):
    c=0
    d=0
    for i in range(len(a)):
        c=c+1
        if a[i]=='B':
            break
    for i in range(len(b)):
        d=d+1
        if b[i]=='B':
            break
    if c<d:
        return('p1')
    if c>d:
        return('p2')
    else:
        return('tie')

In [40]:
showdown(
  "   Bang!        ",
  "        Bang!   "
)

'p1'

In [41]:
showdown(
  "               Bang! ",
  "             Bang!   "
)

'p2'

In [42]:
showdown(
  "     Bang!   ",
  "     Bang!   "
)

'tie'

### <center> Section - B (20 Marks) </center>

### 5.Steve and Maurice have racing snails. They each have three, a slow s, medium m and fast f one. Although Steve's snails are all a bit stronger than Maurice's, Maurice has a trick up his sleeve. His plan is:

Round 1: [s, f] Sacrifice his slowest snail against Steve's fastest.
Round 2: [m, s] Use his middle snail against Steve's slowest.
Round 3: [f, m] Use his fastest snail against Steve's middle.
Create a function that determines whether Maurice's plan will work by outputting True if Maurice wins 2/3 games. **(10 Marks)**

The function inputs:

List 1: [s, m, f] for Maurice.
List 2: [s, m, f] for Steve.

maurice_wins([3, 5, 10], [4, 7, 11]) --> True
# Since the matches are (3, 11), (5, 4) and (10, 7), Maurice wins 2 out of 3.

maurice_wins([6, 8, 9], [7, 12, 14]) --> False
# Since the matches are (6, 14), (8, 7) and (9, 12), Steve wins 2 out of 3.

maurice_wins([1, 8, 20], [2, 9, 100]) --> True

In [ ]:
## Write your code here

In [62]:
def maurice_wins(l1,l2):
        sc=0
        mc=0
        if l1[0]>l2[2]:
                mc=mc+1
        else:
            sc=sc+1
            
        if l1[1]>l2[0]:
                mc=mc+1
        else:
            sc=sc+1
        
        if l1[2]>l2[1]:
                mc=mc+1
        else:
            sc=sc+1
            
        if mc>=2:
            return('True')
        else:
            return('False')

In [63]:
maurice_wins([1, 8, 20], [2, 9, 100])

'True'

In [65]:
maurice_wins([3, 5, 10], [4, 7, 11])

'True'

In [66]:
maurice_wins([6, 8, 9], [7, 12, 14])

'False'

### 6.A Collatz sequence is generated like this. Start with a positive number. If it's even, halve it. If it's odd, multiply it by three and add one. Repeat the process with the resulting number. The Collatz Conjecture is that every sequence eventually reaches 1 (continuing past 1 just results in an endless repeat of the sequence 4, 2, 1).

The length of the sequence from starting number to 1 varies widely.

Create a function that takes a number as an argument and returns a tuple of three elements — the number of steps in the Collatz sequence of the number, the highest number reached. **(10 Marks)**

### Examples

collatz(2) --> (2, 2)
# seq = [2, 1]

collatz(3) --> (8, 16)
# seq = [3, 10, 5, 16, 8, 4, 2, 1]

collatz(7) --> (17, 52)
# seq = [7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]

collatz(8) --> (4, 8)
# seq = [8, 4, 2, 1]

In [1]:
## Write your code here

In [45]:
def collatz(x):
    list1=[]
    list2=[x]
    if x<0:
        return('Not a positive number')
    else:
        while x!=1:
            if x%2==0:
                a=x/2
            else:
                a=(x*3)+1
            list1.append(a)
            x=a
    return(list2+list1)

In [48]:
collatz(2)

[2, 1.0]

In [51]:
collatz(3)

[3, 10, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

In [53]:
print(collatz(7))

[7, 22, 11.0, 34.0, 17.0, 52.0, 26.0, 13.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

In [54]:
print(collatz(8))

[8, 4.0, 2.0, 1.0]

### <center> Section - C (30 Marks) </center>

### 7. This is an English twist on the Japanese word game shiritori. The basic premise is to follow two rules: (15 Marks)

First character of next word must match last character of previous word.
The word must not have already been said.
Below is an example of a Shiritori game:

["word", "dowry", "yodel", "leader", "righteous", "serpent"]  #valid!

["motive", "beach"]  # invalid! - beach should start with "e"

["hive", "eh", "hive"]  # invalid! - "hive" has already been said

## Example - 1

Want to play the game?!(y/n) y
Enter the Word- word
Enter the Word- dowry
Enter the Word- yodel
Enter the Word- leader
Enter the Word- righteous
Enter the Word- serpent
Enter the Word- town
Enter the Word- nobel
Enter the Word- leader
The word is already there! You lost!
['word', 'dowry', 'yodel', 'leader', 'righteous', 'serpent', 'town', 'nobel']


## Example - 2

Want to play the game?!(y/n) y
Enter the Word- motive
Enter the Word- beach
The word does not starts with the last charcter of previous word! You lost!
['motive']

In [2]:
## Write your code here

In [82]:
a=input('Enter a word')
l1=[]
l1.append(a)
for i in l1:
    b=input('Enter the word')
    if b in l1:
        print('The word is already there! You lost!')
        break
    elif i[-1]==b[0]:
        l1.append(b)
    
    else:
        print('The word does not starts with the last charcter of previous word! You lost!')
print(l1)

Enter a wordword
Enter the worddowry
Enter the wordyodel
Enter the wordleader
Enter the wordrighteous
Enter the wordserpent
Enter the wordtown
Enter the wordnobel
Enter the wordleader
The word is already there! You lost!
['word', 'dowry', 'yodel', 'leader', 'righteous', 'serpent', 'town', 'nobel']

## 8. Given a number n, Write a function which returns a sentence which describes the number in the following ways. (15 Marks)

Always start the string with "The most".

If n is evenly divisible by 1, add "brilliant" to the sentence.

If n is evenly divisble by 2, add "exciting" to the sentence.

If n is evenly divisible by 3, add "fantastic" to the sentence.

If n is evenly divisible by 4, add "virtuous" to the sentence.

If n is evenly divisible by 5, add "heart-warming".

If n is evenly divisible by 6, add "tear-jerking".

If n is evenly divisible by 7, add "beautiful" .

If n is evenly divisible by 8, add "exhilarating" .

If n is evenly divisible by 9, add "emotional" .

If n is evenly divisible by 10, add inspiring to the sentence.

Always end the string with "number is" n!

* <b>Also write a function to find the lowest possible number which uses all the words</b>.

describe_num(13) --> "The most brilliant number is 13!"
# 13 is evenly divisble by 1 only

describe_num(4) --> "The most brilliant exciting virtuous number is 4!"
# 4 is evenly divisible by 1, 2 and 4

describe_num(21) --> "The most brilliant fantastic beautiful number is 21!"
# 21 is evenly divisible by 1, 3 and 7

describe_num(60) --> "The most brilliant exciting fantastic virtuous heart-warming tear-jerking inspiring number is 60!"
# 60 is evenly divisible by 1, 2, 3, 4, 5, 6 and 10

#### 2nd part - 

lowest_num() -> 2520

In [97]:
## Write your code here

def describe_num(n):
    s='the most '
    li=[]
    for i in range(1,11):
        a=n%i
        if a==0:
            li=li+[i]
            if i==1:
                s=s+'brilliant '
            if i==2:
                s=s+'exciting '
            if i==3:
                s=s+'fantastic '
            if i==4:
                s=s+'virtous '
            if i==5:
                s=s+'heart-warming '
            if i==6:
                s=s+'tear-jerking '
            if i==7:
                s=s+'beautiful '
            if i==8:
                s=s+'exhilerating '
            if i==9:
                s=s+'emotional '
            if i==10:
                s=s+'inspiring '
            
    s=s+ 'number is '+ str(n)+' !'
    return(s)

In [100]:
describe_num(13)

'the most brilliant number is 13 !'

In [101]:
describe_num(4)

'the most brilliant exciting virtous number is 4 !'

In [102]:
describe_num(21)

'the most brilliant fantastic beautiful number is 21 !'

In [103]:
describe_num(60)

'the most brilliant exciting fantastic virtous heart-warming tear-jerking inspiring number is 60 !'

In [116]:
def smallest_num():
    
    for n in range(0,3000):
        if n%1==0 and n%2==0 and n%3==0 and n%4==0 and n%5==0 and n%6==0 and n%7==0 and  n%8==0 and n%9==0 and n%10==0 and n!=0:
            
            print(n)

In [117]:
smallest_num()

2520