# STATISTICS FINAL EXAM

### Total Marks : 70
### Time - 3 Hours

# SECTION A: 20 MARKS

### Q1).A sample of 525 random variable is considered , a sample mean of 50 with std of 2 was obtained. Determine the confidence interval with a confidence level of 95% for the population mean. ( 5 marks )

In [163]:
n=525
xbar=50
sigma=2
se=sigma/np.sqrt(n)
stats.norm.interval(0.95,50,se)

(49.82892031774205, 50.17107968225795)

In [164]:
## the confidence interval is between 49 and 50

### Q2) The blood pressure in a randomly selected individual is normally distributed with mean value of 86 and standard deviation of 0.7.  ( 5 marks )

What is the probability that the blood pressure for a randomly selected individual will be:

(a) between 85 and 99 ( 2 marks )

(b) less than 88 ( 1.5 marks )

(c) greater than 90.5 ( 1.5 marks )

In [165]:
mu=86
sigma=0.7
a=stats.norm.cdf(99,mu,sigma)
b=stats.norm.cdf(85,mu,sigma)
a-b

0.9234362744901652

In [166]:
## 92% peopke are between 85 and 99

In [167]:
## b part

stats.norm.cdf(88,mu,sigma)

0.9978626330199137

In [168]:
## 9% people are less than 88

In [169]:
## c part
1-stats.norm.cdf(90.5,mu,sigma)

6.440437072541272e-11

In [170]:
## a very small number is over 90.5

### Q3) Eating habits of the people has been drastically changed in last 20 years, the consumption of frozen / Junk foods has increased drastically high. A company promoting healthy/Organic food has started a 21 day food challenge claims that the people who follow a healthy diet are more likely to have a better/happy mindset.(Consider 5% significance level). From the Happiness index values of the individuals given below test whether the changing to healthy food diet have any significance impact on happiness index or not? (10 marks)

Before_challenge =[2.0,2.9,1.0,0.1,4.6,3.9,0.4,2.4,4.5,3.3,6.1,1.5,1.2,5.7,6.0,6.4,5.9,3.5,3.7,4.6,2.0,3.3,2.9,1.2,6.4,5.9] 
After_challenge = [4.5,6,6,3.4,7,4,6,5.3,5.2,7.3,7,3.6,2.8,4,5,6,5.1,5.4,5.7,6.1,3.8,4.2,3.6,5.1,4.8,6.1]

i) Create the Hypothesis (2 marks)

ii) Check for data Normality.( 2 marks ) 

iii) Determine the Statistical Test and give the reason for the selection of the test.(2 mark)

iv) Find the test statistics and pvalue. ( 2 marks)

v) Interpret the Results(2 marks)

**Note: Assume data is normally distributed and have equal variance.**

In [171]:
Before_challenge =[2.0,2.9,1.0,0.1,4.6,3.9,0.4,2.4,4.5,3.3,6.1,1.5,1.2,5.7,6.0,6.4,5.9,3.5,3.7,4.6,2.0,3.3,2.9,1.2,6.4,5.9]

In [172]:
After_challenge = [4.5,6,6,3.4,7,4,6,5.3,5.2,7.3,7,3.6,2.8,4,5,6,5.1,5.4,5.7,6.1,3.8,4.2,3.6,5.1,4.8,6.1]

## a part - 
* hypothesis- ho- the change in diet had no impact
* ha- the change in diet had impact

In [173]:
## b part
## checking for normality
## ho- data is not normal
## ha= data is normal
stats.shapiro(Before_challenge)

ShapiroResult(statistic=0.941680908203125, pvalue=0.14731617271900177)

In [174]:
stats.shapiro(After_challenge)

ShapiroResult(statistic=0.9687718152999878, pvalue=0.591731071472168)

In [179]:
## data is normal - before challenge

In [176]:
## we will use related t test because we have to check the relation of 2 columns here

In [180]:
## null hypothesis- ho- the diet plan has no impact, hence the 2 data are not related
## alternate hypothesis- the diet plan has impact and hence

In [181]:
stats.ttest_rel(Before_challenge,After_challenge)

Ttest_relResult(statistic=-4.255189496323183, pvalue=0.0002566761204890711)

In [182]:
## e part- interpretetation
## ## p value is smaller , so we have to reject the null hypothesis, hence the challenge had impact

# SECTION B: 20 MARKS

 _________________

### Q4)Students from Sports category in XLR University, have a long-term graduation  score of 65. Over the past several years, a random sample of 38 students at the college showed that their average score is 63.  Does this mean that the population score of students who graduate from the XLR university is now less than 65?  Assume that the average graduation rate have a normal distribution with the population standard deviation of 1.3. Use a 5% level of significance.( 5 marks ) 

A.Frame Null and Alternate Hypothesis ( 1 Mark)

B.State which tail test to be performed (1 Mark)

C.Find the test statistic (2 Mark)

D.Interpret the results (1 Mark)

In [183]:
## ho-null hypothesis- the score is not less than 65
## ha- the score is less than 65
## left tail test

In [184]:
n=38
xbar=63
mu=65
sigma=1.3
alpha=0.05
se=sigma/np.sqrt(n)

In [185]:
z_crit=stats.norm.isf(0.025)
z_crit

1.9599639845400545

In [186]:
zstat=(xbar-mu)/se

In [187]:
zstat

-9.483713850721502

In [188]:
stats.norm.cdf(zstat) ## p value

1.2269520958093982e-21

In [189]:
## p value is lesser
## than alpha so we have to reject the null hypothesis

### Q5). Assume that the 8 wheel load carrying transport vehicle follow a normal distribution with mean load of 12 tonnes and standard deviation 1.2 tonnes, The maximum allowed load in a 8 wheeler according to the government regulations is 13.5 tonnes anything beyond the acceptable limit the governmnet charges huge penalties to the vehicle owners. (5 Marks )

a)	Determine what percentage of vehicles will pay the penalty?(1 mark)

b) If the limit of allowed load is decreased to 13 tonnes, what percentage of vehicles do not pay the penalty? (2 marks) 

c) What should be the load limit that atleast 5% of the vehicles will face penalties? (2 marks)

In [190]:
mu=12
sigma=1.2
1-stats.norm.cdf(13.5,mu,sigma)

0.10564977366685535

In [191]:
## there is an 10.56 % probability that the 8 wheeler vehicle will pay the penalty

In [192]:
## lets check on 13 tonnes
1-stats.norm.cdf(13,mu,sigma)

0.20232838096364314

In [193]:
## now , just above 20% of the vehicles willpay the penaly

In [194]:
## c part-
stats.norm.interval(0.95,13.5,1.2)

(11.148043218551935, 15.851956781448065)

In [195]:
## load limit should be 15.85 to have atleast 5% people pay the penalty

### Q6). The Stress Levels of Employees working in 3 different shifts has been recorded, From the data given below test whether the stress levels of the employees working among different shifts is significantly different or not? (Conisder 5% significance level)  (10 marks)


| Morning Shift (6am to 2pm) | Afternoon Shift(2pm to 10pm)| Night Shift(10pm - 6am)|
|---|---|---|
|6|2|8|
|7|3|9|
|6|4|5|
|6|3|8|
|7|2|4|
|5|3|7|
|3|1|5|
|2|1|8|
|5|3|6|
|4|7|8|
|2|3|6|
|2|2|6|
|5|1|7|
|6||7|
|2||6|
|||11|
|||13|


i) Create the Hypothesis (2 marks)

iI) Determine the Statistical Test and give the reason for the selection of the test.(1 mark)

iii) Find the test statistics and pvalue.(2 marks)

v) Interpret the Results(2 marks)

v) Find whether stress levels are different. If it is different, find which shift is different.
(3 marks)

**Note: Assume data is normally distributed and have equal variance.**

In [196]:
a=[6,7,6,6,7,5,3,2,5,4,2,2,5,6,2]
b=[2,3,4,3,2,3,1,1,3,7,3,2,1]
c=[8,9,5,8,4,7,5,8,6,8,6,6,7,7,6,11,13]

In [197]:
## null-all shifts have same impact
## alt- atleast one shift has different impact

In [198]:
test=stats.f_oneway(a,b,c)

In [199]:
test[0] ## test stat

21.24239122648942

In [200]:
test[1] ## pvalue

4.225584647967872e-07

In [201]:
## one way anova is not working here , so we have to use post hoc test

In [202]:
data=pd.DataFrame({'Morning_Shift':[6,7,6,6,7,5,3,2,5,4,2,2,5,6,2,np.NaN,np.NaN]
             ,'Evening_Shift':[2,3,4,3,2,3,1,1,3,7,3,2,1,np.NaN,np.NaN,np.NaN,np.NaN]
             ,'Night_Shift':[8,9,5,8,4,7,5,8,6,8,6,6,7,7,6,11,13]})

In [203]:
Morning_Shift=[6,7,6,6,7,5,3,2,5,4,2,2,5,6,2,0,0]
Evening_Shift=[2,3,4,3,2,3,1,1,3,7,3,2,1,0,0,0,0]
Night_Shift=[8,9,5,8,4,7,5,8,6,8,6,6,7,7,6,11,13]

In [204]:
import statsmodels.stats.multicomp as multi_comp
analysis=multi_comp.MultiComparison(Morning_Shift,Evening_Shift)

In [205]:
print(analysis.tukeyhsd())

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     0      1   1.3333    0.9  -4.5796  7.2463  False
     0      2      3.0 0.5378   -2.913   8.913  False
     0      3      3.0 0.4157  -2.1934  8.1934  False
     0      4      4.0 0.6168  -4.6557 12.6557  False
     0      7      2.0    0.9  -6.6557 10.6557  False
     1      2   1.6667    0.9  -4.6545  7.9879  False
     1      3   1.6667    0.9  -3.9872  7.3205  False
     1      4   2.6667    0.9  -6.2729 11.6062  False
     1      7   0.6667    0.9  -8.2729  9.6062  False
     2      3      0.0    0.9  -5.6539  5.6539  False
     2      4      1.0    0.9  -7.9395  9.9395  False
     2      7     -1.0    0.9  -9.9395  7.9395  False
     3      4      1.0    0.9  -7.4808  9.4808  False
     3      7     -1.0    0.9  -9.4808  7.4808  False
     4      7     -2.0    0.9 -12.9487  8.9487  False
-----------------------------------------------------

In [206]:
analysis=multi_comp.MultiComparison(Morning_Shift,Night_Shift)
print(analysis.tukeyhsd())

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     4      5     -2.5 0.8809 -10.0075  5.0075  False
     4      6    -4.25 0.3483 -11.1034  2.6034  False
     4      7  -1.6667    0.9  -8.7448  5.4115  False
     4      8     -2.5 0.8208  -9.3534  4.3534  False
     4      9      0.0    0.9  -8.6689  8.6689  False
     4     11     -7.0 0.1379 -15.6689  1.6689  False
     4     13     -7.0 0.1379 -15.6689  1.6689  False
     5      6    -1.75 0.8872  -7.0586  3.5586  False
     5      7   0.8333    0.9  -4.7624  6.4291  False
     5      8      0.0    0.9  -5.3086  5.3086  False
     5      9      2.5 0.8809  -5.0075 10.0075  False
     5     11     -4.5  0.383 -12.0075  3.0075  False
     5     13     -4.5  0.383 -12.0075  3.0075  False
     6      7   2.5833 0.4686  -2.0984  7.2651  False
     6      8     1.75 0.7472  -2.5845  6.0845  False
     6      9     4.25 0.3483  -2.6034 11.1034  False
     6     11    -2.75 0.7519  -9.6034  4.1034  False
     6     13    -2.75 0.7519  -9.6034  4.1034  False
     7      8  -0.8333    0.9  -5.5151  3.8484  False
     7      9   1.6667    0.9  -5.4115  8.7448  False
     7     11  -5.3333 0.1822 -12.4115  1.7448  False
     7     13  -5.3333 0.1822 -12.4115  1.7448  False
     8      9      2.5 0.8208  -4.3534  9.3534  False
     8     11     -4.5 0.2938 -11.3534  2.3534  False
     8     13     -4.5 0.2938 -11.3534  2.3534  False
     9     11     -7.0 0.1379 -15.6689  1.6689  False
     9     13     -7.0 0.1379 -15.6689  1.6689  False
    11     13      0.0    0.9  -8.6689  8.6689  False
-----------------------------------------------------

In [207]:
analysis=multi_comp.MultiComparison(Evening_Shift,Night_Shift)
print(analysis.tukeyhsd())

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     4      5      0.5    0.9  -8.8987  9.8987  False
     4      6      0.0    0.9  -8.5798  8.5798  False
     4      7  -0.6667    0.9  -9.5278  8.1945  False
     4      8     1.25    0.9  -7.3298  9.8298  False
     4      9      1.0    0.9  -9.8527 11.8527  False
     4     11     -2.0    0.9 -12.8527  8.8527  False
     4     13     -2.0    0.9 -12.8527  8.8527  False
     5      6     -0.5    0.9  -7.1459  6.1459  False
     5      7  -1.1667    0.9   -8.172  5.8387  False
     5      8     0.75    0.9  -5.8959  7.3959  False
     5      9      0.5    0.9  -8.8987  9.8987  False
     5     11     -2.5    0.9 -11.8987  6.8987  False
     5     13     -2.5    0.9 -11.8987  6.8987  False
     6      7  -0.6667    0.9  -6.5278  5.1944  False
     6      8     1.25    0.9  -4.1763  6.6763  False
     6      9      1.0    0.9  -7.5798  9.5798  False
     6     11     -2.0    0.9 -10.5798  6.5798  False
     6     13     -2.0    0.9 -10.5798  6.5798  False
     7      8   1.9167 0.8922  -3.9444  7.7778  False
     7      9   1.6667    0.9  -7.1945 10.5278  False
     7     11  -1.3333    0.9 -10.1945  7.5278  False
     7     13  -1.3333    0.9 -10.1945  7.5278  False
     8      9    -0.25    0.9  -8.8298  8.3298  False
     8     11    -3.25 0.7943 -11.8298  5.3298  False
     8     13    -3.25 0.7943 -11.8298  5.3298  False
     9     11     -3.0    0.9 -13.8527  7.8527  False
     9     13     -3.0    0.9 -13.8527  7.8527  False
    11     13      0.0    0.9 -10.8527 10.8527  False
-----------------------------------------------------

# SECTION C: 30 MARKS

 _________________

### Q7) A farmer who cultivates dragon fruits wanted to test the hypothesis that the production quantity(tonnes) of the fruits will be varying lot with respect to climate conditions. Below is the sample of production of dragon fruits season wise for last 10 years, use 5% significance level to test the farmers hypotheis. ( 5 marks) 

Winter_season = [8,7,6,6,7,9,8,11,9,8,14,11,14,18]

summer_season = [5,7,8,5,6,4,5,7,8,7,3,4,5,6,7]

**Note: Assume data is normally distributed and have equal variance.**

In [208]:
Winter_season = [8,7,6,6,7,9,8,11,9,8,14,11,14,18]

summer_season = [5,7,8,5,6,4,5,7,8,7,3,4,5,6,7]

In [209]:
## null-ho- the quality does not depend on climate
## ha- the quality does in fact , depends on climate

In [210]:
import random

In [211]:
a=random.sample(Winter_season,14)
b=random.sample(summer_season,14)

In [212]:
stats.ttest_rel(a,b)

Ttest_relResult(statistic=5.145165427148798, pvalue=0.00018825602708360986)

In [213]:
## since the p value is less than alpha , we reject the null hypothesis, hence the quality
 #depends upon season

### Q8)Consider bank dataset to solve the below hypothesis.(Use p-value method with 95%confidence level)

1. Does the education of an individual have any effect on term deposit? ( 5 marks) 
2. Does the age of an individual have any effect on term deposit? ( 5 marks) 
3. Individuals having personal loan are more likely to take a term deposit (Justify this claim)? ( 5 marks )
4. Does employee_variance_rate effect on term deposit? ( 5 marks )
5. Individuals who have defaulted their loans are more like not to take a term deposit (Justify this claim)? (5 marks)

**Note: Assume data is normally distributed and have equal variance.**

In [214]:
import pandas as pd
import numpy as np
import scipy.stats as stats
df = pd.read_csv('data_set.csv')
df.head()

,age,job,marital,education,Credit_default,housing,personal_loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,Term Deposit
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,False
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,False
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,False
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,False
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,False

In [215]:
## ho- term deposit does not depend upon education
## ha- term deposit infact depends upon education
tab=pd.crosstab(df['education'],df['Term Deposit'])
from scipy.stats import chi2_contingency 
stats.chi2_contingency(tab)[1]

3.3051890144025054e-38

In [216]:
## the p value is less than alpha , hence we have to reject the null hypothesis and hence education
## has an impact

In [217]:
df['Term_Deposit']=df['Term Deposit']

In [218]:
## b part 
## ho- term deposit does not depend upon age
## ha- term deposit infact depends upon age
import statsmodels.formula.api as sma
model=sma.ols('age~Term_Deposit',data=df).fit()
from statsmodels.stats.anova import anova_lm
anova_lm(model)

                   df        sum_sq      mean_sq          F        PR(>F)
Term_Deposit      1.0  4.133451e+03  4133.450624  38.094659  6.802136e-10
Residual      41186.0  4.468876e+06   108.504727        NaN           NaN

In [219]:
## the p value is less than alpha , hence we reject to reject the null hypothesis, age has an impact

In [220]:
## c part 
## ho- term deposit does not depend upon age
## ha- term deposit infact depends upon age
tab1=pd.crosstab(df['personal_loan'],df['Term Deposit'])
stats.chi2_contingency(tab1)[1]

0.5786752870441754

In [221]:
## p value is greater than alpha , so we have failed to reject the null hypothesis

In [222]:
## d part
## ho- term deposit does not depend upon var rate
## ha- term deposit infact depends upon var rate
model=sma.ols('emp_var_rate	~Term_Deposit',data=df).fit()
anova_lm(model)

                   df        sum_sq      mean_sq            F  PR(>F)
Term_Deposit      1.0   9046.842163  9046.842163  4023.829925     0.0
Residual      41186.0  92599.152609     2.248316          NaN     NaN

In [223]:
## the p value is less than alpha , hence we have to reject the null hypothesis, and hence, var rate has an impact

In [224]:
## e part
## ho- term deposit does not depend upon default
## ha- term deposit infact depends upon default
tab3=pd.crosstab(df['Credit_default'],df['Term Deposit'])
stats.chi2_contingency(tab3)[1]

5.1619579513916376e-89

In [225]:
## the p value is less than alpha , hence we have to reject the null hypothesis, so the defaulters have an impact on term deposit