In [3]:
import numpy as np
import pandas as pd
import scipy.stats as stats

#### Difference between One Way anova and Two Way Anova¶

* One Way Anova is when you introduce One Categorical Variable & A Numerical Variable.
* On the other hand, if we want to analyse multiple categorical variables with a numerical variable, then it is called Two Way Anova.

* For example Pclass vs Fare is an example of One Way Anova with One categorical variable with 03 Levels (Class1, Class2 & 3) and a Numerical Variable.

* Whereas the Two Way Anova is two or more categorical variables with a numerical variables.

In [11]:
cat1 = [1,2,5]
cat2 = [2,4,2]
cat3 = [2,3,4]

In [4]:
# F Critical ~ 0.90

Total marks in aptitude exam are recorded for students with different race/ethnicity. Test whether all the races/ethnicities have an equal average score with 0.05 level of significance. **students data**

Use the performance dataset of students available in the CSV file students_data.csv.


* **Ho: That the Student Score has NO Relation with Ethinicity**
* **Ha: That the Student Score has Relation with Ethinicity**

* H0: Mew(GroupA) = Mew(GroupB).....
* H0: Mew(GroupA) != Mew(GroupB).....

In [27]:
student = pd.read_csv("~/Downloads/StudentsPerformance.csv")
student.head()

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,total score,training institute
0,female,group B,standard,none,89,55,56,200,Nature Learning
1,female,group C,standard,completed,55,63,72,190,Nature Learning
2,female,group B,standard,none,64,71,56,191,Nature Learning
3,male,group A,free/reduced,none,60,99,72,231,Nature Learning
4,male,group C,standard,none,75,66,51,192,Nature Learning

In [28]:
student["race/ethnicity"].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [5]:
# Print the Anova Table

Conclusion: Race has nothing to do with the scores...

Ryan is a production manager at an industry manufacturing alloy seals. They have 4 machines - A, B, C and D. Ryan wants to study whether all the machines have equal efficiency. Ryan collects data of tensile strength from all the 4 machines as given. Test at 5% level of significance.


* **Ho: Efficiency is Same across All the Machines. Mew(Tensile Strength_A) = Mew(Tensile Strength_B)...**

* **Ha: Efficiency is NOT Same across All the Machines. Mew(Tensile Strength_A) != Mew(Tensile Strength_B)...**

Since we are dealing with > 02 categories, therefore, we will apply Anova

In [69]:
# given data
# tensile strength due to machine A
A = [68.7, 75.4, 70.9, 79.1, 78.2]

# tensile strength due to machine B
B = [62.7, 68.5, 63.1, 62.2, 60.3]

# tensile strength due to machine C
C = [55.9, 56.1, 57.3, 59.2, 50.1]

# tensile strength due to machine D
D = [80.7, 70.3, 80.9, 85.4, 82.3]

In [6]:
# Apply One Way Anova...

Ryan is a production manager at an industry manufacturing alloy seals. They have 4 machines - A, B, C and D. Ryan wants to study whether all the machines have equal efficiency. Ryan collects data of tensile strength from all the 4 machines as given. Perform the post-hoc test to find out which machine has a different average. Test at 5% level of significance.¶

In [4]:
# create a dataframe using a dictionary from given data
df_machine = pd.DataFrame(data = {'machine': ['machine_A','machine_B','machine_C','machine_D']*5, 
                                  'strength': [68.7, 62.7, 55.9, 80.7, 75.4, 68.5, 56.1, 70.3, 70.9, 63.1, 57.3, 80.9, 79.1, 
                                               62.2, 59.2, 85.4, 78.2, 60.3, 50.1, 82.3]})

### Post Hoc Test

* Post Hoc Test (Tukey HSD Test) is to find out the difference in the mean. It is used to identify which of the categories reflect the difference...

* It is applied when the Anova rejects the Ho so we can conclude that at least 01 category has a different mean from the rest.

In [7]:
import statsmodels.stats.multicomp as multi_comp

from statsmodels.stats.multicomp import pairwise_tukeyhsd

### Summary of Tukey HSD Test

A Pairwise Tukey HSD Test is used in Anova to find the **difference in the mean which is resulting in variance in the categories.**

In other words, this test reflects the difference in the performance amongst categories.

The reject = False means we Fail to Reject the Ho meaning that the Machine Combinations A~D and B~C are producing the same quality of Iron Rods.

However, where the Reject = True means that We Reject the Ho meaning that these combinations are worth investigating because may be these machines are not producing the same quality of iron rod.

Note -Lower and Upper are the lower and upper bounds of Confidence Interval for Mean Difference at 0.95.

## Equivalent Non Parametric Test  - Kruskall Wallis Test

* If one of the assumptions of one-way ANOVA is not satisfied, then we can perform the **Kruskal-Wallis H test** which is a non-parametric equivalent test for one-way ANOVA.

* **Wilcoxon Signed-Ranks** test is the nonparametric version of the **Two Sample Related T-Test**

* If the Data is not following Normal Distribution, then one can use **Mann Whitney U** test inplace of Independent Two Sample T-Test. It is also known as **Mann Whitney Wilcoxon Test or the Wilcoxon Rank Sum Test**.






A gym trainer wants to provide an energy bar to all his customers to increase muscle strength. Three different companies approached the gym trainer with their high-quality energy bars. The trainer collects an amount of calcium (in g) in the energy bar from three companies and he wants to study whether all the bars have an equal amount of calcium on average. Test at 5% level of significance.

given data:
       * alpha_bar = [24.4, 20.7, 56.9, 19.5]
       * beta_bar = [53.2, 54.7, 20.5, 15.8, 56.6]
       * gamma_bar = [54, 31, 22.8, 24.7]
       

* **Ho: That All the Energy Bars have Same Quantity of Calcium**
* **Ha: That All the Energy Bars Do Not have Same Quantity of Calcium**

In [89]:
# given data
# amount of calcium in alpha_bar
alpha_bar = [24.4, 20.7, 56.9, 19.5]

# amount of calcium in beta_bar
beta_bar = [53.2, 54.7, 20.5, 15.8, 56.6]

# amount of calcium in gamma_bar
gamma_bar = [54, 31, 22.8, 24.7]

Check if there is any effect of **gender** and completion of **test preparation course** on the total marks. Perform two-way ANOVA with 5% level of significance.

* *Ho: That there is no effect of the Test Preparation on the Total Score**
* *Ha: That there is effect of the Test Preparation on the Total Score**

* *Ho: That there is no effect of Gender on the Total Score**
* *Ha: That there is effect of the Gender on the Total Score**

In [91]:
student.head()

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,training institute,total_score,race
0,female,group B,standard,none,89,55,56,Nature Learning,200,group B
1,female,group C,standard,completed,55,63,72,Nature Learning,190,group C
2,female,group B,standard,none,64,71,56,Nature Learning,191,group B
3,male,group A,free/reduced,none,60,99,72,Nature Learning,231,group A
4,male,group C,standard,none,75,66,51,Nature Learning,192,group C

In [1]:
# Assumption of Normality

### Chi Square Test

* Based on Categorical Data.
* This is a test is applied only on Categories. 
* Well Suited For Classification Problems in Machine Learning.
* The Ho is that Two Categories have nothing in Common or One Cat has no effect on the other...
* Alternate - That both the categories are related.

* Again, this is a Non Parametric Test meaning that there is no assumption about the Data.

* Since, we deal only in **categories** therefore, we only work on Frequency/Value_Counts() data.

* It is based on Observed Values (Coming from Data) and Expected Values (Which we calculate) and basis that we find out our test statistic.

* Chi Square Table is based on Degrees of Freedom and it is also a Right Tail Test.

1. A Chi Square Test is a Test of Hypothesis where two samples are tested for Independence.

2. Here, we dont compare the means of samples coming from same or different population. Here, we have Categorical Variables/Dichotomous Variables on which we perform the test.

3. We check if these samples with different categories are independent of each other or there is some pattern of Being Dependent.

4. If there is Dependence, researcher claims that these two variables have significant relationship. In other words, One variable is linked/being driven by the other. For e.g. Survival in Titanic is Dependent on the Family Count.

5. The Data we recieve in question is called as "Observed Frequencies". We need to calculate the Expected Frequencies.

6. Formula = SUM[(Obs-Exp)**2/Exp] - Chi Square Test Statistic.

A bank has an ATM installed inside the bank, and it is available to its customers only from 7 am to 6 pm Monday through Friday. **The manager of the bank wanted to investigate if the number of people who use this ATM is the same for each of the 5 days (Monday through Friday) of the week.** She randomly selected one week and counted the number of people who used this ATM on each of the 5 days during that week. 

At a 1% level of significance, can we reject the null hypothesis that the number of people who use this ATM each of the 5 days of the week is the same?


* Ho: That the Count of People is Same Across All Days**
* Ha: That the Count of People is Not Same Across All Days**

In [8]:
# Chi Square Critical Value

In [9]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri"]
Users = [253, 197, 204, 279, 267] # Observed Values

### Conclusion of the Test
* If the Test Statistic > Critical Value, Then We Reject the Ho.
* If the Test Statistic < Critical Value, Then We Fail to Reject the Ho.

As per the Rule We Reject the Ho meaning that the Count of People visiting ATM is not Same for all days.

At an emporium, the manager is interested in knowing the age group which visits the mall during the day. He defines categories as - **children, teenagers, adults and senior citizens.** **He plans to have his inventory of goods accordingly. He claims that out of all the people who visited 5% are children, 38% are teenagers, 2% are senior citizens are remaining are adults.** From a sample of 180 people, it was seen that 25 were children, 50 were teenagers, 90 were adults and 15 were senior citizens. Test the manager’s claim at a 95% confidence level.

* Ho: That the Manager Claims the Ratio of People Visiting the Mall is [0.05, 0.38, 0.02, 0.55]
* Ha: That the Manager Claims the Ratio of People Visiting the Mall is [0.05, 0.38, 0.02, 0.55] incorrect

In [2]:
visitor_count = [25, 50, 90, 15]

exp_percent = [0.05, 0.38, 0.02, 0.55]

In [1]:
# Lets find the Chi Test Statistic

#### Types of Error

1. There are two types of Error - Type 1 Error and Type 2 Error.

* **How to Reduce the Risk of Making Type 1 Error**

The risk of making a Type I error is the significance level (or alpha). That’s a value that you set at the beginning of your study to assess the statistical probability of obtaining your results (p value).
To reduce the Type I error probability, you can set a lower significance level.

* **How to Reduce the Risk of Making Type 2 Error**

The risk of making a Type II error is inversely related to the statistical power of a test. Power is the extent to which a test can correctly detect a real effect when there is one.

To (indirectly) reduce the risk of a Type II error, you can increase the sample size or the significance level to increase statistical power.

* **What is the Power of the Test**

In statistics, power refers to the likelihood of a hypothesis test detecting a true effect if there is one. A statistically powerful test is more likely to reject a false negative (a Type II error).

If you don’t ensure enough power in your study, you may not be able to detect a statistically significant result even when it has practical significance. Your study might not have the ability to answer your research question.

* **How to Increase the Power of the Test**

There are various ways to improve power:

* Increase the potential effect size by manipulating your independent variable more strongly,
* Increase sample size,
* Increase the significance level (alpha)